@font-face {
    font-family: "Acme-Regular";
    src: url("Memory\ Game\ Images/Acme/Acme-Regular.ttf") format("ttf");
}

* {
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    margin:0;
    background: radial-gradient(circle, #ffbf87, #fb8721);
    opacity: .88;
}


h1{
    border: #415EA3;  
}


.page-title {
    color: #415EA3;
    font-family: Limelight, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#title{
display: inline-block;
padding: 5px;
border-top:  double  rgb(255, 115, 0);
border-bottom: double rgb(255, 115, 0);
border-right: none;
border-left: none;
}


.game-info {
    color: #415EA3;
    font-family: Limelight, Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.game-info-container {
    grid-column: 1/ -1;
    display: flex;
    justify-content: space-between;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    margin: 75x;
    justify-content: center;
    perspective: 500px;
}

.card {
    background-color: #415EA3;
    position: relative;
    height: 150px;
    width: 150px;
}

.card-face {
    position:absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    backface-visibility: hidden ;
    align-items: center;
    transition: transform 400ms ease-in-out;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}

.card.visible .card-front{
    transform: rotateY(0deg);
}

.overlay-text {
    display:  none; 
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
   justify-content: center;
   align-items: center;  
   z-index: 100;
   color: #415EA3;
   font-family:Limelight, Georgia, 'Times New Roman', Times, serif;
}

#overlay-text-victory-small {
    font-size: 2em;
    background-color: #415EA3;
    color: #BA8C63;
    font-family: Limelight, Georgia, 'Times New Roman', Times, serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#overlay-game-over{
    display:  none; 
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
   justify-content: center;
   align-items: center;  
   z-index: 100;
   color: #415EA3;
   font-family:Limelight, 

}
#overlay-game-over.visible{
    display:  flex; 
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
   justify-content: center;
   align-items: center;  
   z-index: 100;
   color: #415EA3;
   font-family:Limelight;
   flex-direction: column ;
    animation: overlay-grow 500ms forwards;
    font-size: .6em;

}


#overlay-welcome{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column ;
    animation: overlay-grow 500ms forwards;
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: red;
    background-color: none;
}

#startbutton{
    display: flex;
    flex-direction: column ;
    animation: overlay-grow 500ms forwards;
    align-items: center;
    justify-content: center;
    font-size: .6em;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    color: #BA8C63;
    background-color: #415EA3;
    font-family: Limelight, Georgia, 'Times New Roman', Times, serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#restart.visible {
    font-size: 2em;
    background-color: #415EA3;
    color: #BA8C63;
    font-family: Limelight, Georgia, 'Times New Roman', Times, serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.overlay-text.visible {
    display: flex;
    flex-direction: column ;
    animation: overlay-grow 500ms forwards;
    align-items: center;
    justify-content: center;
    font-size: .6em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size: 4.5em;
    }
    }

.card-back {
    background-color: #415EA3;
}

.card-front {
    background-color: #fb8721;
    transform: rotateY(180deg);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: scale-down;
}

.card-front:hover .card-value {
    transform: scale(1);
}

.movie-reel {
    position: absolute;
    width: 95%;
    height: 95%;
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2,auto) ;
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

/* counter for flips counts only when it compares 2, increase size of the overlay text, add countdown clock, 